*{
	border:1px solid red;
}
header{
	text-align:center;
	padding:1%;
	margin: 1%;
}
article{
	float:left;
	width:75%;
}
aside{
	float:right;
	width:22%;
	border-left:1px solid black;
	padding-left:8px;
	background:#f1f1f1;
}
header, footer{
	text-align:center;	
	margin-bottom:0px;
	font-size:16pt;
	font-weight:bold;
}
footer{
	position:absolute;
	clear:both;
	border-top:1px solid black;
	bottom:5%;
	left:50%
}
section.pictures{
	line-height:0px;
}